<div class="heading">
  <img class="mainpic" src="/assets/images/children-head.jpg" alt="Children in School">
  <h1 class="title">Education</h1>
</div>

<div class="quotebox container">
  <h4 class="quote">"To build a future in the midst of uncertainty, refugee children need teachers who are trained, a well-developed curriculum that builds skills and knowledge, and the possibility of certifying their learning"</h4>
  <p> – Dryden-Peterson, Brookings Institute</p>
</div>


<div class="row">

  <div class="section1">
    <div class="circle col-md-2">
      <h2 class="current-title">Current<br>Situation</h2>
    </div>
    <div class="col-md-9 current-situation">
      <h3>“Today, we only have one third of the Syrian school-aged children in schools. The risk there is nothing less than losing an entire generation of Syrian children.” - Philippe Duamelle
        <hr>
      </h3>
    </div>
  </div>

</div>
<hr>


<div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner">

            <div class="item active">
              <img src="/assets/images/learning.jpg">
              <div class="carousel-caption">
                <h4>Education in Syria</h4>
                <p>"Syria once had one of the world’s highest literacy rates. That was before the civil conflict and refugee crisis. A recent Human Rights Watch report also estimated more than 400,000 Syrian refugee children in Turkey do not attend school."</p>
              </div>
            </div><!-- End Item -->

            <div class="item">
              <img src="/assets/images/classroom.jpg">
              <div class="carousel-caption">
                <h4>Classroom</h4>
                <p>"Syrian children listen to a teacher during a lesson in a temporary classroom in Suruc refugee camp on March 25 in Suruc, Turkey. The camp is the largest of its kind in Turkey with a population of about 35,000 Syrians who have fled the ongoing civil war in their country." - Carl Court/Getty Images</p>
              </div>
            </div><!-- End Item -->

            <div class="item">
              <img src="/assets/images/coursera.jpg">
              <div class="carousel-caption">
                <h4>Coursera for Refugees</h4>
                <p>Refugees worldwide will be able to take more than 1,000 online university courses for free as part of an effort to provide education and skills training under a US-based program launched as part of World Refugee Day.</p>
              </div>
            </div><!-- End Item -->

            <div class="item">
              <img src="/assets/images/class2.jpg">
              <div class="carousel-caption">
                <h4>Learning</h4>
                <p>“Refugees have skills, ideas, hopes and dreams… They are also tough, resilient and creative, with the energy and drive to shape their own destinies, given the chance.”
                - UN High Commissioner for Refugees Filippo Grandi</p>
              </div>
            </div><!-- End Item -->

            <div class="item">
              <img src="/assets/images/US.jpg">
              <div class="carousel-caption">
                <h4>United States Involvement</h4>
                <p>The United States is working with the United Nations agencies to increase humanitarian assistance to Syrian refugees, including bridging the education gap for children. Resettlement Agencies are available to provide more information on educational access.</p>
              </div>
            </div><!-- End Item -->

          </div><!-- End Carousel Inner -->


          <ul class="list-group col-sm-4">
            <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Education in Syria or Asylum Countries</h4></li>
            <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>Classroom Learning</h4></li>
            <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>Online Courses</h4></li>
            <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>Higher Education</h4></li>
            <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>United States</h4></li>
          </ul>

          <!-- Controls -->
          <div class="carousel-controls">
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>

        </div><!-- End Carousel -->
        <hr>

  <div class="section2">
    <div class="video">
      <iframe class="video pull-left" width="560" height="315" src="https://www.youtube.com/embed/OQcpG8OCG2U" frameborder="0" allowfullscreen></iframe>
    </div>
    <ul class="resources-list">
      <h3>Syrian Refugees Transitioning to the US</h3>
      <br>
          <li>The median annual wage for Syrian refugees in the US is $52,000</li>
          <br>
          <br>
          <li>Syrian immigrants are likely to pursue an advanced degree</li>
          <br>
          <br>
          <li>Around 4% of refugees in the work force are business owners but over 11% of Syrians in the work force are business owners</li>
          <br>
          <br>

      </ul>
      </div>
<hr>

        <div class="resources-section row">
          <div class="resource1 col-md-4">
            <div class="card">
              <img class="card-img-top" src="/assets/images/adults.jpg" alt="Card image cap">
              <div class="card-block">
                <hr>
                <h4 class="card-title">The IIE Syria Consortium</h4>
                <p class="card-text">The IIE Syria Consortium for Higher Education in Crisis is a network of colleges and universities providing scholarships for Syrian students whose education has been disrupted as a result of the war.</p>
                <a href="https://www.iie.org/Programs/Syria-Scholarships" class="btn btn-primary">Visit Webpage</a>
              </div>
            </div>
          </div>
          <div class="resource2 col-md-4">
            <div class="card">
              <img class="card-img-top" src="/assets/images/class.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Migration Policy Institute</h4>
                <p class="card-text">Syrian refugee children will likely need ongoing, targeted support to bridge the gaps in their education, attain fluency in the host-country language, and deal with trauma and other mental health symptoms.</p>
                <a href="http://www.migrationpolicy.org/" class="btn btn-primary">Visit Webpage</a>
              </div>
            </div>
          </div>
          <div class="resource3 col-md-4">
            <div class="card">
              <img class="card-img-top" src="/assets/images/paperwork.jpg" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-title">Office of Immigrant and Refugee Affairs</h4>
                <p class="card-text">"Our mission is to improve the lives of Seattle’s immigrant and refugee families. We work to strengthen immigrant and refugee communities by engaging them in decisions about the City of Seattle’s future, and improving the City’s programs and services to meet the needs of all
                constituents."</p>
                <a href="https://www.seattle.gov/iandraffairs/programs" class="btn btn-primary">Visit Webpage</a>
              </div>
            </div>
          </div>
        </div>
        <hr>

      </div>
