<div class="container">
  <h1>Education Will Lead To a Brighter Future</h1>
  <p>"To build a future in the midst of uncertainty, refugee children need teachers who are trained, a well-developed curriculum that builds skills and knowledge, and the possibility of certifying their learning" --Dryden-Peterson, Brookings Institute</p>
  <img src="http://assets.irinnews.org/s3fs-public/images/201208081330120984.jpg" alt="Three Syrian children sitting in a classroom" id="classroom">

  <h1>Syrian Immigrants Have Been Doing Well in the US</h1>
    <ul>
      <li>The median annual wage for Syrian immigrants in the US is $52,000</li>
      <li>Syrian immigrants are likely to pursue and advanced degree</li>
      <li>Around 4% of immigrants in the work force are business owners but over 11% of Syrians in the work force are business owners</li>
    </ul>
  <h1>Get Assistance</h1>
  <p>The United States is working with the United Nations agencies to increase humanitarian assistance to Syrian refugees, including bridging the education gap for children. Resettlement Agencies are available to provide more information on educational access</p>
</div>
