.donate-form input {
  margin: 15px;
  font-size: 30px;
}

.donate-form {
  font-size: 20px;
  /*border: 1px solid black;*/
  padding: 70px;
  width: 500px;
  /*margin-top: 40px;*/
  /*border-radius: 20%;*/
  box-shadow: 5px 5px 5px grey;

}

.donate-heading {
  text-align: center;
}

.fire-img {
  width: 600px;
  padding: 40px;
}

.container {
  margin-bottom: 40px;
}
