<!-- Refugee Resources in Panels  -->
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><a routerLink="/health" class="links">Health</a></h2>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><a routerLink="/education" class="links">Education</a></h2>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><a routerLink="/children" class="links">Children</a></h2>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><a routerLink="/economics" class="links">Economics</a></h2>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
<a routerLink="/health">Health</a>
<a routerLink="/education">Education</a>

<a routerLink="/economics">Economics</a>
<a routerLink="/children">Children</a>


<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <header>
          <h1>We are creative</h1>
          <h3>Get start your next awesome project</h3>
        </header>
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <header>
          <h1>Women's Health</h1>
          <h4>Refugee women represent a vulnerable group who have been involuntarily displaced, are survivors of human rights abuses, and need special attention and care.</h4>
          <h4>About 3/4 of Syrian refugees are women and children.</h4>
          </header>
          <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <header>
            <h1>We are amazing</h1>
            <h3>Get start your next awesome project</h3>
          </header>
          <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
        </div>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#bs-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#bs-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
