<!-- Refugee Resources in Panels  -->
<div class="container">
<div class="row panelLinks">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><a routerLink="/health" class="links">Health</a></h2>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><a routerLink="/education" class="links">Education</a></h2>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><a routerLink="/children" class="links">Children</a></h2>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <h2><a routerLink="/economics" class="links">Economics</a></h2>
      </div>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
</div>
<br>
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides">
      <div class="slide-1"></div>
      <div class="hero">
        <header>
          <h1>Health</h1>
          <h4>Organizations are working to connect refugees to local hospitals for health needs</h4>
        </header>
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
    <div class="item slides active">
      <div class="slide-2"></div>
      <div class="hero">
        <header>
          <h1>Education</h1>
          <h3>Education is the key to ensuring a better future</h3>
        </header>
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <header>
            <h1>Children</h1>
            <h3>Children make up half the population affected by conflict</h3>
          </header>
          <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
        </div>
      </div>
    <div class="item slides">
      <div class="slide-4"></div>
      <div class="hero">
        <header>
          <h1>Economics</h1>
          <h3>More Syrians are business owners in the US than other immigrant groups</h3>
        </header>
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
  </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#bs-carousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#bs-carousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

  <div class="container">
    <div class="resources container">
      <hr>
      <h4><em>There are several organizations that are assisting in the Syrian Refugee crisis. They are focusing on disaster response, medical development, refugee resettlement, economic development and peacebuilding. They are working with the displaced, orphaned and sick.<br> Learn more about them here.</em></h4>
      <hr>
    </div>
  	<div class="row">
  		<section class="section_0">
        <div class="col-sm-3">
          <div class="circle circle1">
            <a href="https://www.rescue.org/"><h2><p>The International Rescue Committee</p></h2></a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="circle circle2">
            <a href="https://www.worldrelief.org/"><h2>World Relief</h2></a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="circle circle3">
            <a href="http://refugees.org/"><h2><p>U.S. Committee for Refugees</p></h2></a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="circle">
            <a href="http://www.unhcr.org/en-us"><h2><p class="fourth">The <br> UN Refugee Agency</p></h2></a>
          </div>
        </div>
      </section>
  	</div>
    <br>
  </div>
