<div class="container volunteer-detail-container">
  <br>
  <br>
  <div class="volunteer-detail-title">
    <img class="volunteer-detail-image" style="width:80%;height:550px" src="{{(volunteerToDisplay | async)?.image}}" alt="volunteer detail image" />
    <h1>{{(volunteerToDisplay | async)?.company}}</h1>
    <br>
    <h2 id="countryTitle">{{(volunteerToDisplay | async)?.location}}</h2>
  </div>
  <div class="volunteer-detail row">
    <div class="col-md-8 volunteer-detail-paragraphs">
      <p>{{(volunteerToDisplay | async)?.summary}}</p>
    </div>
    <div class="col-md-3 volunteer-detail-category">
      <h4>Category: {{(volunteerToDisplay | async)?.category}}</h4>
      <h4 class="resource">Resource: <a href="{{(volunteerToDisplay | async)?.link}}">Link</a></h4>
    </div>
  </div>
</div>
