<div class="container">
  <div class="family-child-care">
    <img src="https://www.acf.hhs.gov/sites/default/files/orr/hbcc4.jpg" alt="an image of a child care team and children" />
    <h1>Refugee Family Child Care</h1>
    <h3>Program Goal</h3>
    <p>
      The Refugee Family Child Care Microenterprise Development Program provides business opportunities to refugee women in a market where there is a shortage of childcare providers. Through the grant, mentors will help refugee women establish agreements or contracts with state or county child care offices so they may qualify for state/county childcare reimbursement as childcare service providers, and become successful, independent entrepreneurs.
    </p>
    <p>
    in FY2012, ORR increased funding to the program, raising it from $2.225 million to $5,752 million, and offering grants to a total of 34 agencies.
    </p>
    <p>
      During the first year of the project, the original 13 grantees have collectively:
    </p>
    <ul>
      <li>Enrolled 879 refugee women in the program;</li>
      <li>Trained 745 refugees;</li>
      <li>Helped 172 refugees obtain business licenses;</li>
      <li>Assisted 160 refugees to start home based child care programs</li>
      <li>Created 1,061 childcare slots for children;</li>
      <li>Paid $249,000 in grants to partially cover business startup costs, and assisted the home based child care owners to obtain an additional $208,000 in subsidies;</li>
      <li>Helped 207 refugees find and secure jobs, and</li>
      <li>Taken 79 refugees off public assistance.</li>
    </ul>
    <h3>Eligible Applicants</h3>
    <p>
      Public or private non profit organizations are eligible for these grants.
    </p>
    <h3>Targeted Populations</h3>
    <p>
      Eligibility includes persons who meet all requirements of 45 CFR 400.43 (as amended by 65 FR 154009 (March 22, 2000).
    </p>
    <p>
      All low income refugees who are not citizens are eligible for services under this program. Women refugees who arrived in the U.S. within the last five years at the time of enrollment are given priority for services under this program.
    </p>
    <p>
      Resource Link:
      <a href="https://www.acf.hhs.gov/orr/programs/refugee-family-child-care">Office of Refugee Resettlement</a>
    </p>
  </div>
</div>


<div>

  <div class="childrenSection1">
    <h2>Office of ReFugee Resettlement: Unaccompanied Refugee Minors</h2>
    <p>https://www.acf.hhs.gov/orr/programs/urm/about</p>
    <p>The URM program ensures that eligible unaccompanied minor populations receive the full range of assistance, care and services available to all foster children in the state by establishing a legal authority to act in place of the child’s unavailable parent(s). Our programs encourage reunification of children with their parents or other appropriate adult relatives through family tracing and coordination with local refugee resettlement agencies. However, if reunification is not possible, each program works to design a case specific permanency plan for each minor or youth in care.<p>
      <li>ndirect financial support for housing, food, clothing, medical care and other necessities</li>
     <li>ndirect financial support for housing, food, clothing, medical care and other necessities</li>
     <li>ndirect financial support for housing, food, clothing, medical care and other necessities</li>
     <li>ndirect financial support for housing, food, clothing, medical care and other necessities</li>
   <p>Contact Information
URM Program
Division of Children’s Services
Office of Refugee Resettlement
Administration for Children and Families
901 D Street, SW
Washington, DC 20447
Fax: 202.401.5487
Email: Urmprogram@acf.hhs.gov</p>
  </div>
  <div class="childrenSection2">
    <h2>ourBridge</h2>
    <p>https://www.joinourbridge.org/</p>
    <p>At ourBRIDGE, students receive homework help, participate in hands-on STEAM (Science, Technology, Engineering , Arts and Math) projects, and engage in a culturally relevant curriculum that emphasizes experiential learning. We provide one-on-one daily English literacy tutoring in order to accelerate the students’ acquisition of the English language. ourBRIDGE for KIDS aims to close the communication gap between school, teachers and families through the coordination of home visits, translation of school documents, and the organization of literacy nights and cultural events for parents at our center. When needed, we also provide parents transportation and translation support at teacher conferences and serve as the liaison between parents and schools.</p>
  </div>
  <div class="childrenSection3">
    <h2>Bridgin Refugee Youth and Childrens Services</h2>
    <p>http://www.brycs.org/aboutBrycs/mission.cfm</p>
    <p>Bridging Refugee Youth and Children's Services (BRYCS) strengthens the capacity of refugee-serving and mainstream organizations across the U.S. to ensure the successful development of refugee children, youth, and their families by increasing information sharing and promoting collaboration at the local, state, regional, and national levels.</p>
  </div>
</div>
