<div class="heading">
  <img class="mainpic" src="/assets/images/kids2.jpg" alt="Wounded Syrian Girl">
  <h1 class="title">Children</h1>
</div>

<div class="quotebox container">
  <h4 class="quote">“If the world continues to turn its back on Syria, it is the children who’ll continue to suffer the most. More needs to be done to peacefully stop this conflict, and more support needs to be given to host countries and humanitarian actors. We’re going to be dealing with this one for years to come.”</h4>
  <p> – Wynn Flaten</p>
</div>

<div class="row">

  <div class="section1">
    <div class="circle col-md-2">
      <h2 class="current-title">Current<br>Situation</h2>
    </div>
    <div class="col-md-9 current-situation">
      <h3>Between 2 million and 3 million Syrian children are not attending school. The U.N. children’s agency says the war reversed 10 years of progress in education for Syrian children.
        <hr>
      </h3>
    </div>
  </div>

</div>
<hr>


<!-- <div class="family-child-care">
<img src="https://www.acf.hhs.gov/sites/default/files/orr/hbcc4.jpg" alt="an image of a child care team and children" />
<h1>Refugee Family Child Care</h1>
<h3>Program Goal</h3>
<p>
The Refugee Family Child Care Microenterprise Development Program provides business opportunities to refugee women in a market where there is a shortage of childcare providers. Through the grant, mentors will help refugee women establish agreements or contracts with state or county child care offices so they may qualify for state/county childcare reimbursement as childcare service providers, and become successful, independent entrepreneurs.
</p>
<p>
in FY2012, ORR increased funding to the program, raising it from $2.225 million to $5,752 million, and offering grants to a total of 34 agencies.
</p>
<p>
During the first year of the project, the original 13 grantees have collectively:
</p>
<ul>
<li>Enrolled 879 refugee women in the program;</li>
<li>Trained 745 refugees;</li>
<li>Helped 172 refugees obtain business licenses;</li>
<li>Assisted 160 refugees to start home based child care programs</li>
<li>Created 1,061 childcare slots for children;</li>
<li>Paid $249,000 in grants to partially cover business startup costs, and assisted the home based child care owners to obtain an additional $208,000 in subsidies;</li>
<li>Helped 207 refugees find and secure jobs, and</li>
<li>Taken 79 refugees off public assistance.</li>
</ul>
<h3>Eligible Applicants</h3>
<p>
Public or private non profit organizations are eligible for these grants.
</p>
<h3>Targeted Populations</h3>
<p>
Eligibility includes persons who meet all requirements of 45 CFR 400.43 (as amended by 65 FR 154009 (March 22, 2000).
</p>
<p>
All low income refugees who are not citizens are eligible for services under this program. Women refugees who arrived in the U.S. within the last five years at the time of enrollment are given priority for services under this program.
</p>
<p>
Resource Link:
<a href="https://www.acf.hhs.gov/orr/programs/refugee-family-child-care">Office of Refugee Resettlement</a>
</p>
</div> -->
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="/assets/images/children-water.jpg">
        <div class="carousel-caption">
          <h4>Children in Syria</h4>
          <p>2016 was the worst year yet for Syria's children as violence ripped apart places that should be safe, schools, hospitals, playgrounds, parks and children's own homes. 8.4 million Syrian children, inside and outside the country, are in need of humanitarian aid, and millions have borne witness to unrelenting violence from the brutal conflict.</p>
        </div>
      </div><!-- End Item -->

      <div class="item">
        <img src="/assets/images/stairs.jpg">
        <div class="carousel-caption">
          <h4>Child Experiences</h4>
          <p>“The children of Syria have experienced more hardship, devastation, and violence than any child should have to in a thousand lifetimes.” - Dr. Christine Latif, World Vision</p>
        </div>
      </div><!-- End Item -->

      <div class="item">
        <img src="/assets/images/kids3.jpg">
        <div class="carousel-caption">
          <h4>Wellbeing</h4>
          <p>These children have come from one of the world’s most dangerous places. Children need so much support to be able to recover from that, but the odds are against them. Children need safe shelter, but that is only the beginning. They need special protection. They need to get into schools. Even when they can get in, often the classrooms are overflowing with extra students, or they are bullied to such an extent that they no longer even want to go.</p>
        </div>
      </div><!-- End Item -->

      <div class="item">
        <img src="/assets/images/art2.jpg">
        <div class="carousel-caption">
          <h4>Art as a Healing Technique</h4>
          <p>Child-Friendly Spaces are one of World Vision’s emergency interventions providing children with protected environments to play, socialize, learn, and express themselves during the recovery process. They provide psychosocial programs, an outlet to help children to process the images of war, violence, and loss.</p>
        </div>
      </div><!-- End Item -->

      <div class="item">
        <img src="/assets/images/orphanage.jpg">
        <div class="carousel-caption">
          <h4>Orphans</h4>
          <p>The smiles on their faces and the innocent look in their eyes mask the horror hundreds of children living in a Syrian orphanage have witnessed in their short lives. The traumatised children, all of whom have lost their fathers and many whose mothers have also died, live together at Atmeh refugee camp in Idlib, close to the Turkish border.</p>
        </div>
      </div><!-- End Item -->

    </div><!-- End Carousel Inner -->

    <ul class="list-group col-sm-4">
      <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>Children in Syria or Asylum Countries</h4></li>
      <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>Child Experiences</h4></li>
      <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>Wellbeing</h4></li>
      <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>Healing with Art</h4></li>
      <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>Orphanages</h4></li>
    </ul>

    <!-- Controls -->
    <div class="carousel-controls">
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>

  </div><!-- End Carousel -->

  <hr>

  <div class="resources-section row">
    <div class="resource1 col-md-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/uk.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Bridgin Refugee Youth and Children's Services</h4>
          <p class="card-text">BRYCS strengthens the capacity of refugee-serving and mainstream organizations across the U.S. to ensure the successful development of refugee children, youth, and their families by increasing information sharing and promoting collaboration at the local, state, regional, and national levels.</p>
          <a href="http://www.brycs.org/aboutBrycs/mission.cfm" class="btn btn-default">Visit Webpage</a>
        </div>
      </div>
    </div>
    <div class="resource2 col-md-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/tech.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">ourBridge</h4>
          <p class="card-text">ourBRIDGE for KIDS aims to close the communication gap between school, teachers and families through the coordination of home visits, translation of school documents, and the organization of literacy nights and cultural events for parents at our center.</p>
          <a href="https://www.joinourbridge.org/" class="btn btn-default">Visit Webpage</a>
        </div>
      </div>
    </div>
    <div class="resource3 col-md-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/orphans.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Office of Refugee Resettlement: Unaccompanied Refugee Minors</h4>
          <p class="card-text">The URM program ensures that eligible unaccompanied minor populations receive the full range of assistance, care and services available to all foster children in the state by establishing a legal authority to act in place of the child’s unavailable parent(s).</p>
          <a href="https://www.acf.hhs.gov/orr/programs/urm/about" class="btn btn-default">Visit Webpage</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div>
  </div>
