<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <button class="navbtn pull-right" routerLink="donation">Donate Now<fa name="heart-o" size="lg"></fa></button>
    <div class="dropdown pull-right">
      <button class="dropbtn" routerLink="how-to-help">How To Help</button>
      <div class="dropdown-content">
        <a routerLink="volunteer">Volunteer</a>
        <a routerLink="donation">Donate</a>
        <a routerLink="organization">Organizations</a>
      </div>
    </div>
    <div class="dropdown pull-right">
      <button class="dropbtn" routerLink="for-refugees">Refugee Resources</button>
      <div class="dropdown-content">
        <a routerLink="children">Children</a>
        <a routerLink="economics">Economics</a>
        <a routerLink="education">Education</a>
        <a routerLink="health">Health</a>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="container"> -->
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
<!-- </div> -->
