<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Home</a>
    </div>
    <button class="navbtn pull-right" routerLink="donation">Donate Now</button>
    <div class="dropdown pull-right">
      <button class="dropbtn">How To Help</button>
      <div class="dropdown-content">
        <a routerLink="volunteer">Volunteer</a>
        <a routerLink="donation">Donate</a>
      </div>
      </div>
      <button class="navbtn pull-right" routerLink="organization">Organizations</button>

    <!-- <ul class="nav navbar-nav navbar-right">
      <li class="nav-link"><a routerLink="organization">Organizations</a></li> -->
      <!-- <li><a routerLink="volunteer">Volunteer</a></li> -->
      <!-- <li><a routerLink="how-to-help">How To Help</a></li> -->
    <!-- </ul> -->

  </div>
</nav>

<div class="container">
  <h1>{{title}}</h1>
  <router-outlet></router-outlet>
</div>
