/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.thumbnail-news1 {
  height: 100px;
  width: 90%;
}

.thumbnail-news {
  height: 100px;
  width: 90%;
  text-align: center;
}

.item {
  text-align: center;
}

.text {
  background-color: rgb(234, 236, 239);
  padding: 3px;
  margin-bottom: -10px;
}

.article3 {
  margin-top: 30px;
}

.feature-article {
}

/* unvisited link */
a:link {
    color:black;
  }

/* visited link */
a:visited {
    color:black;
}

/* mouse over link */
a:hover {
    color:black;
}

/* selected link */
a:active {
    color:black;
}


.news {
  margin-left: 300px;
}

.news blockquote {
  margin-left: -200px;
}


/*.panel-default{
    text-align:center;
    cursor:pointer;
    font-family: 'Raleway',sans-serif;
    color: #ff5033;
}

.panel-default:hover{
background-color: #ff5033;
text-decoration: none;
color: #ffffff;

}

.buttons-panel {
  align-items: center;
  text-align: center;
}*/





/* carousel */
.media-carousel
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
  background-image: none;
  background: none
}
/* Next button  */
.media-carousel .carousel-control.right{
  background-image: none;
  background: none
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}



.tweets-follow img{
  height: 50px;
  width: 90px;
}

.profile img{
  height: 50px;
  width: 50px;
}

.names{
  text-align: left;
  margin-left: -20px;
}

.text-body {
  text-align: left;
}

.grey{
  color: grey;
}

.thumbnail{
  margin: 10px;
}

.retweet img {
  height: 15px;
  width: 20px;
  margin-left: 10px;
}

.twitter{
  background-color: #dbdbdb;

}
.retweet{
  text-align: left;
}

.first{
  margin-left: 120px;
}

.media-carousel .thumbnail {
  height: 250px;
}


.graph{
  margin-left: -30px;

}
.graphs{
    background-color: #eaebed;
}
/*.top-margin {
  height: 80px;
}*/

.text-graph{
    text-align: right;
    margin-top: 50px;
    background-color: #eaebed;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3%;

}



.highlight{
  color: black;
}

.color-text{
  color: #ff5033;
  font-weight: bold;
}

.mission blockquote{
  color: #ff5033;
}

.mission h4{
  margin-left: 40px;
}

.mission {
  margin-top: 75px;
  height: 250px;
  box-shadow: 2px 2px 2px;
}

.news blockquote {
  margin-top: 50px;
  color: #ff5033;
}

.news .carousel-inner {
  margin-top: -70px;
}


.three-view {
  text-align: center;
    background-color: #fc6249;
    height: 500px;
}

.icons {
    height: 100px;
    background-color: orange;
  }

.title-icon{
  color:#afafaf;
}

.each {
  background-color: white;
  margin-left: 60px;
  margin-right: 60px;
  padding: 10px;
  margin-top: 100px;
  border-radius: 3%;
  height: 300px;
}



.mainpic {
  width: 100%;
  /*height: 600px;*/
  margin-top: -50px;
}

.heading{
  background-color: #eaebed;
}

.title {
    background-color: #eaebed;

}
.mission {
  background-color: white;
  margin-top: -40px;
  color: black;
  height: 190px;
  font-size: 60px;
  font-weight: bolder;
  opacity: 1;
  text-align: center;
}

.second-set{
  margin-top: 100px;
  margin-left: 150px;
}
