<h1>Welcome</h1>

<p>
  Mission statement:

</p>
<a routerLink="/how-to-help">How To Help</a>

<a routerLink="/for-refugees">For Refugees</a>
<hr />
<!--
https://www.youtube.com/watch?v=NKb9GVU8bHE -->
<!-- https://www.worldvision.org/refugees-news-stories/syria-refugee-crisis-war-facts -->



<!-- <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head> -->

<ul *ngFor="let feed of feeds">
  <li><img src="{{feed.enclosure.link | thumbnail}}" alt="" /></li>
  <li>{{feed.title}}</li>
  <li>{{feed.author}} - {{feed.pubDate | date:'dd-MM-yyyy'}}</li>
</ul>

<!-- <section id="carousel">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="8000">
                  <ol class="carousel-indicators">
				    <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
				    <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                    <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
				  </ol>
				  <div class="carousel-inner">
				    <div class="item">
              <div  class="row grid-divider">
              <div class="col-sm-8" *ngFor="let feed of feeds">
                <div class="col-padding">
                  <img src="{{feed.enclosure.link}}" alt="" />
                  <h3>{{feed.title}}</h3>
                  <p>{{feed.author}} - {{feed.pubDate | date:'dd-MM-yyyy'}}</p>
                </div>
              </div>

				    </div>
				    <div class="item">
              <div  class="row grid-divider">
              <div class="col-sm-8">
                <div class="col-padding">
                  <h3>Column 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima expedita incidunt rerum.</p>
                </div>
              </div>
              <div class="col-sm-4 row">
                <div class="col-padding">
                  <h3>Column 3</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta.</p>
                </div>
                <div class="col-padding row">
                  <h3>Column 2</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.</p>
                </div>
              </div>
              </div>
				    </div>
				    <div class="active item">
              <div  class="row grid-divider">
              <div class="col-sm-8">
                <div class="col-padding">
                  <h3>Column 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima expedita incidunt rerum.</p>
                </div>
              </div>
              <div class="col-sm-4 row">
                <div class="col-padding">
                  <h3>Column 3</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta.</p>
                </div>
                <div class="col-padding row">
                  <h3>Column 2</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.</p>
                </div>
              </div>
              </div>
				    </div>
            <div class="item">
              <div  class="row grid-divider">
              <div class="col-sm-8">
                <div class="col-padding">
                  <h3>Column 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima expedita incidunt rerum.</p>
                </div>
              </div>
              <div class="col-sm-4 row">
                <div class="col-padding">
                  <h3>Column 3</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta, sunt rerum corporis. Ab veniam aperiam numquam cupiditate maiores repudiandae ea dicta.</p>
                </div>
                <div class="col-padding row">
                  <h3>Column 2</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate placeat suscipit maxime tenetur officiis asperiores quae molestias fugiat praesentium dolorum.</p>
                </div>
              </div>
              </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	</div>
</section> -->

<p>
  This year marks the sixth year anniversy of the start of the civil war. An estimated 11 million Syrians have fled their homes as refugees seeking asylum in other countries. 470,000 people have been killed. and another 13.5 million are in need of humanitarian assistance within the country.
</p>


<h2>There are 13.5 million Syrains who need help</h2>
<p>6 million have been displaced in Syria</p>
<p>4.8 million are refugees outside of Syria</p>
<ul>
  <li>Turkey hosts 2,688,686 registered refugees</li>
  <li>628,427 registered Syrian refugees in Jordan</li>
  <li>1,048,275 registered refugees from Syria</li>
  <li>Iraq hosts 245,543 refugees</li>
  <li>resettlement happens in many places throughout the world. Including: Argentina, Australia, Austria, Brazil, Canada, Denmark, Germany, Greece, United Kingdom, United States, and many more </li>

  https://en.wikipedia.org/wiki/Refugees_of_the_Syrian_Civil_War
</ul>


<p>
  Syrian refugees referred to the U.S. by the U.N. have been women and children. That’s true — 67 percent have been children under the age of 12 and women, according to State Department data.

  <!-- http://www.factcheck.org/2015/11/facts-about-the-syrian-refugees/ -->
</p>



<h2>Facts</h2>
<ul>
  <li>13.5 million people in Syria need humanitarian assistance due to a violent war that began in 2011.</li>
  <li>5 million Syrians are refugees, and 6.3 million are displaced within Syria; half of those affected are children.</li>
  <li>Children affected by the Syrian refugee crisis are at risk of becoming ill, malnourished, abused, or exploited. Millions have been forced to quit school. View these photos to see life through the eyes of Syrian refugee children.</li>
  <li>  Most Syrian refugees remain in the Middle East, in Turkey, Lebanon, Jordan, Iraq, and Egypt; slightly more than 10 percent of the refugees have fled to Europe.
  Peace negotiations continue despite an inconsistent ceasefire.</li>
  <li>    Within Syria, 95 percent of people lack adequate healthcare, 70 percent lack regular access to clean water. Half the children are out of school. The economy is shattered and four-fifths of the population lives in poverty.</li>
  <!-- https://www.worldvision.org/refugees-news-stories/syria-refugee-crisis-war-facts -->

</ul>

<h4>TWITTER FEED</h4>
  <ul *ngFor="let tweet of tweets">
    <img style={width:10px,height:10px;} src={{tweet.user.profile_image_url}}>
    <li>{{tweet.user.name}}</li>
    <li>{{tweet.text}}</li>
  </ul>
