<h1>Welcome</h1>

<p>
  Mission statement:

</p>
<a routerLink="/how-to-help">How To Help</a>

<a routerLink="/for-refugees">For Refugees</a>
<hr/>
<!--
https://www.youtube.com/watch?v=NKb9GVU8bHE -->
<!-- https://www.worldvision.org/refugees-news-stories/syria-refugee-crisis-war-facts -->


<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
</head>

<div >
  <section id="carousel">
	<div class="container">
		<div class="row">

				<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="8000">
				  <!-- Carousel indicators -->
          <ol class="carousel-indicators">
				    <p data-target="#fade-quote-carousel" data-slide-to="0" class="active"></p>
				    <p data-target="#fade-quote-carousel" data-slide-to="1"></p>
				    <p data-target="#fade-quote-carousel" data-slide-to="2"></p>

				  </ol>

				  <!-- Carousel items -->
				  <div class="carousel-inner" *ngIf="feeds">
				    <div class="active item">
              <div class="row">
                <div class="col-sm-3 row">
                  <div class="col-padding">
                    <a href="{{feeds[9].link}}">
                    <img class="thumbnail-news" src="{{feeds[9].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                    <h4>{{feeds[9].title}}</h4>
                  </div>
                  </a>
                </div>
                  <div class= "article3">
                    <div class="col-padding">
                      <a href="{{feeds[10].link}}">
                      <img class="thumbnail-news" src="{{feeds[10].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                      <h4>{{feeds[10].title}}</h4>
                    </div>
                    </a>
                  </div>
                  </div>
                </div>
                <div class="col-sm-5 feature-article">
                  <div class="col-padding">
                    <a href="{{feeds[0].link}}">
                      <img class="thumbnail-news1" src="{{feeds[0].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                        <h3>{{feeds[0].title}}</h3>
                        <h5>{{feeds[0].author}}</h5>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-3 row">
                  <div class="col-padding">
                    <a href="{{feeds[1].link}}">
                      <img class="thumbnail-news" src="{{feeds[1].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                        <h4>{{feeds[1].title}}</h4>
                      </div>
                    </a>
                  </div>
                    <div class= "article3">
                      <div class="col-padding">
                        <a href="{{feeds[2].link}}">
                        <img class="thumbnail-news" src="{{feeds[2].enclosure.link | thumbnail}}" alt="" />
                          <div class="text">
                            <h4>{{feeds[2].title}}</h4>
                          </div>
                        </a>
                      </div>
                    </div>
                </div>
              </div>
				    </div>
				    <div class="item">
              <div class="row">
                <div class="col-sm-3 row">
                  <div class="col-padding">
                    <a href="{{feeds[12].link}}">
                      <img class="thumbnail-news" src="{{feeds[12].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                        <h4>{{feeds[12].title}}</h4>
                      </div>
                    </a>
                </div>
                  <div class= "article3">
                    <div class="col-padding">
                      <a href="{{feeds[13].link}}">
                        <img class="thumbnail-news" src="{{feeds[13].enclosure.link | thumbnail}}" alt="" />
                        <div class="text">
                          <h4>{{feeds[13].title}}</h4>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-5">
                  <div class="col-padding feature-article">
                    <a href="{{feeds[3].link}}">
                      <img class="thumbnail-news1" src="{{feeds[3].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                        <h3>{{feeds[3].title}}</h3>
                        <h5>{{feeds[3].author}}</h5>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-sm-3 row">
                  <div class="col-padding">
                    <a href="{{feeds[4].link}}">
                      <img class="thumbnail-news" src="{{feeds[4].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                        <h4>{{feeds[4].title}}</h4>
                      </div>
                    </a>
                  </div>
                  <div class= "article3">
                    <div class="col-padding">
                      <a href="{{feeds[5].link}}">
                        <img class="thumbnail-news" src="{{feeds[5].enclosure.link | thumbnail}}" alt="" />
                        <div class="text">
                          <h4>{{feeds[5].title}}</h4>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
				    </div>
				    <div class="item">
              <div class="row ">
                <div class="col-sm-3 row">
                  <div class="col-padding">
                    <a href="{{feeds[14].link}}">
                    <img class="thumbnail-news" src="{{feeds[14].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                        <h4>{{feeds[14].title}}</h4>
                      </div>
                    </a>
                  </div>
                    <div class= "article3">
                      <div class="col-padding">
                        <a href="{{feeds[15].link}}">
                        <img class="thumbnail-news" src="{{feeds[15].enclosure.link | thumbnail}}" alt="" />
                        <div class="text">
                          <h4>{{feeds[10].title}}</h4>
                        </div>
                        </a>
                      </div>
                    </div>
                </div>
                <div class="col-sm-5">
                  <div class="col-padding feature-article">
                    <a href="{{feeds[6].link}}">
                      <img class="thumbnail-news1" src="{{feeds[6].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                        <h3>{{feeds[6].title}}</h3>
                        <h5>{{feeds[6].author}}</h5>
                      </div>
                      </a>
                    </div>
                </div>
                <div class="col-sm-3 row">
                  <div class="col-padding">
                    <a href="{{feeds[7].link}}">
                      <img class="thumbnail-news" src="{{feeds[7].enclosure.link | thumbnail}}" alt="" />
                      <div class="text">
                        <h4>{{feeds[7].title}}</h4>
                      </div>
                    </a>
                </div>
                <div class= "article3">
                  <div class="col-padding">
                    <a href="{{feeds[8].link}}">
                    <img class="thumbnail-news" src="{{feeds[8].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[8].title}}</h4>
                    </div>
                    </a>
                  </div>
                  </div>
                </div>
              </div>
				    </div>
				  </div>
				</div>

		</div>
	</div>
</section>

</div>




<p>
  This year marks the sixth year anniversy of the start of the civil war. An estimated 11 million Syrians have fled their homes as refugees seeking asylum in other countries. 470,000 people have been killed. and another 13.5 million are in need of humanitarian assistance within the country.
</p>


<h2>There are 13.5 million Syrains who need help</h2>
<p>6 million have been displaced in Syria</p>
<p>4.8 million are refugees outside of Syria</p>
<ul>
  <li>Turkey hosts 2,688,686 registered refugees</li>
  <li>628,427 registered Syrian refugees in Jordan</li>
  <li>1,048,275 registered refugees from Syria</li>
  <li>Iraq hosts 245,543 refugees</li>
  <li>resettlement happens in many places throughout the world. Including: Argentina, Australia, Austria, Brazil, Canada, Denmark, Germany, Greece, United Kingdom, United States, and many more </li>

  https://en.wikipedia.org/wiki/Refugees_of_the_Syrian_Civil_War
</ul>


<p>
  Syrian refugees referred to the U.S. by the U.N. have been women and children. That’s true — 67 percent have been children under the age of 12 and women, according to State Department data.

  <!-- http://www.factcheck.org/2015/11/facts-about-the-syrian-refugees/ -->
</p>



<h2>Facts</h2>
<ul>
  <li>13.5 million people in Syria need humanitarian assistance due to a violent war that began in 2011.</li>
  <li>5 million Syrians are refugees, and 6.3 million are displaced within Syria; half of those affected are children.</li>
  <li>Children affected by the Syrian refugee crisis are at risk of becoming ill, malnourished, abused, or exploited. Millions have been forced to quit school. View these photos to see life through the eyes of Syrian refugee children.</li>
  <li>  Most Syrian refugees remain in the Middle East, in Turkey, Lebanon, Jordan, Iraq, and Egypt; slightly more than 10 percent of the refugees have fled to Europe.
  Peace negotiations continue despite an inconsistent ceasefire.</li>
  <li>    Within Syria, 95 percent of people lack adequate healthcare, 70 percent lack regular access to clean water. Half the children are out of school. The economy is shattered and four-fifths of the population lives in poverty.</li>
  <!-- https://www.worldvision.org/refugees-news-stories/syria-refugee-crisis-war-facts -->

</ul>

<h4>TWITTER FEED</h4>
  <ul *ngFor="let tweet of tweets">
    <img style={width:10px,height:10px;} src={{tweet.user.profile_image_url}}>
    <li>{{tweet.user.name}}</li>
    <li>{{tweet.text}}</li>
  </ul>
