
<div class="container-full">

  <div class="heading">
    <img class="mainpic" src="/assets/images/kidgroup.jpg" alt="Wounded Syrian Girl">
    <div class="title ">
      <div class="mission container">
      <h1>Our Mission</h1>
      <h4>To promote world peace and friendship with Syria through providing information, rescoures, and services to Syrian refugees. To help promote a better understanding of the current climate in Syria to Americans through informative action, donations, and volunteer oppurtunities.</h4>
      </div>

    </div>
  </div>





<div class="graphs">
  <br>
  <br>
  <div class="container">

    <div class="graph col-md-8">
      <app-graph1></app-graph1>
    </div>
    <div class="col-md-3">
      <div class="row top-margin">

      </div>
      <div class="row text-graph">
        <h3 class="highlight">
          This year marks the sixth year anniversy of the start of the civil war. An estimated <span class="color-text">11 million Syrians have fled their homes</span> as refugees seeking asylum in other countries. <span class="color-text">470,000 people have been killed</span> and another <span class="color-text">13.5 million are in need</span> of humanitarian assistance within the country.
        </h3>
      </div>

    </div>
  </div>
  <br>
  <br>
  <br>
</div>

  <div class="three-view">
      <div class="row">
      <div class="col-sm-4 ">
        <div class="col-padding each">
          <img src="./assets/images/newspaper.png" class="icons" />
          <h3  class="title-icon">Inform</h3>
        <p>Our focus is to inform the population about the current climate in Syria. By providing the most up to date news articles and tweets about Syria, as well as the differente organizations that help overseas and locally</p>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="col-padding each">
          <br>
          <img src="./assets/images/connect.png" class="icons" id="cup" />

          <h3  class="title-icon">Connect</h3>
            <p>We aim to provide Syrian refugees with resources to help them find what they need as quickly as possible. Education, children needs, economics, and health are just some of the topics we focus on.</p>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="col-padding each">
          <img src="./assets/images/donateheart.png" class="icons" />
          <h3  class="title-icon">Donate</h3>
            <p>Providing our users with the easiest way to donate to multiple organizations. You can check out which agencies provide volunteer help as well as monetary help in Syria and the surrounding regions, and easily donate to the cause!</p>
        </div>
      </div>
      </div>

  </div>


<div class="news">
  <br>
  <blockquote>
    <h2>CURRENT NEWS</h2>
  </blockquote>
  <section id="carousel">
    <div class="row">
      <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="2000">
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
          <p data-target="#fade-quote-carousel" data-slide-to="0" class="active"></p>
          <p data-target="#fade-quote-carousel" data-slide-to="1"></p>
          <p data-target="#fade-quote-carousel" data-slide-to="2"></p>

        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner" *ngIf="feeds">
          <div class="active item">
            <div class="row first-set">
              <div class="col-sm-3">
                <div class="col-padding">
                  <a href="{{feeds[9].link}}">
                    <img class="thumbnail-news" src="{{feeds[9].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[9].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-3 feature-article">
                <div class="col-padding">
                  <a href="{{feeds[0].link}}">
                    <img class="thumbnail-news1" src="{{feeds[0].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[0].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="col-padding">
                  <a href="{{feeds[1].link}}">
                    <img class="thumbnail-news" src="{{feeds[1].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[1].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row second-set">
              <div class="3"></div>
              <div class= "col-md-3">
                <div class="col-padding">
                  <a href="{{feeds[10].link}}">
                    <img class="thumbnail-news" src="{{feeds[10].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[10].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class= "col-md-3">
                <div class="col-padding">
                  <a href="{{feeds[2].link}}">
                    <img class="thumbnail-news" src="{{feeds[2].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[2].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="3"></div>
            </div>
          </div>

          <div class="item">
            <div class="row first-set">
              <div class="col-sm-3">
                <div class="col-padding">
                  <a href="{{feeds[9].link}}">
                    <img class="thumbnail-news" src="{{feeds[9].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[9].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-3 feature-article">
                <div class="col-padding">
                  <a href="{{feeds[0].link}}">
                    <img class="thumbnail-news1" src="{{feeds[0].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[0].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="col-padding">
                  <a href="{{feeds[1].link}}">
                    <img class="thumbnail-news" src="{{feeds[1].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[1].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row second-set">
              <div class="3"></div>
              <div class= "col-md-3">
                <div class="col-padding">
                  <a href="{{feeds[10].link}}">
                    <img class="thumbnail-news" src="{{feeds[10].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[10].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class= "col-md-3">
                <div class="col-padding">
                  <a href="{{feeds[2].link}}">
                    <img class="thumbnail-news" src="{{feeds[2].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[2].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="3"></div>
            </div>
          </div>
          <div class="item">
            <div class="row first-set">
              <div class="3"></div>
              <div class="col-sm-3">
                <div class="col-padding">
                  <a href="{{feeds[9].link}}">
                    <img class="thumbnail-news" src="{{feeds[9].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[9].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-3 feature-article">
                <div class="col-padding">
                  <a href="{{feeds[0].link}}">
                    <img class="thumbnail-news1" src="{{feeds[0].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[0].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="col-padding">
                  <a href="{{feeds[1].link}}">
                    <img class="thumbnail-news" src="{{feeds[1].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[1].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row second-set">
              <div class= "col-md-3">
                <div class="col-padding">
                  <a href="{{feeds[10].link}}">
                    <img class="thumbnail-news" src="{{feeds[10].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[10].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
              <div class= "col-md-3">
                <div class="col-padding">
                  <a href="{{feeds[2].link}}">
                    <img class="thumbnail-news" src="{{feeds[2].enclosure.link | thumbnail}}" alt="" />
                    <div class="text">
                      <h4>{{feeds[2].title}}</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



  <div class='row twitter '>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner container" *ngIf="tweets" >
          <div class="item  active">
            <div class="row">
              <div class="col-md-3 thumbnail first">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[0].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[0].user.name}}</p>
                    <p class="grey">@{{tweets[0].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[0].text}}</p>
                      <p class="grey">{{tweets[0].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[0].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
              <div class="col-md-3 thumbnail">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[1].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[1].user.name}}</p>
                    <p class="grey">@{{tweets[1].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[1].text}}</p>
                      <p class="grey">{{tweets[1].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[1].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
              <div class="col-md-3 thumbnail">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[2].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[2].user.name}}</p>
                    <p class="grey">@{{tweets[2].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[2].text}}</p>
                      <p class="grey">{{tweets[2].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[2].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3 thumbnail first">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[3].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[3].user.name}}</p>
                    <p class="grey">@{{tweets[3].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[3].text}}</p>
                      <p class="grey">{{tweets[3].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[3].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
              <div class="col-md-3 thumbnail">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[4].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[4].user.name}}</p>
                    <p class="grey">@{{tweets[4].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[4].text}}</p>
                      <p class="grey">{{tweets[4].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[4].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
              <div class="col-md-3 thumbnail">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[5].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[5].user.name}}</p>
                    <p class="grey">@{{tweets[5].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[5].text}}</p>
                      <p class="grey">{{tweets[5].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[5].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-3 first thumbnail">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[6].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[6].user.name}}</p>
                    <p class="grey">@{{tweets[6].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[6].text}}</p>
                      <p class="grey">{{tweets[6].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[6].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
              <div class="col-md-3 thumbnail">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[7].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[7].user.name}}</p>
                    <p class="grey">@{{tweets[7].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[7].text}}</p>
                      <p class="grey">{{tweets[7].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[7].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
              <div class="col-md-3 thumbnail">
                <div class="header row">
                  <div class="profile col-md-3">
                    <img src={{tweets[8].user.profile_image_url}}>
                  </div>
                  <div class="names col-md-5">
                    <p>{{tweets[8].user.name}}</p>
                    <p class="grey">@{{tweets[8].user.screen_name}}</p>
                  </div>
                  <div class="tweets-follow col-md-3">
                    <img src="./assets/images/twitter-follow-button.png"  alt="" />
                  </div>
                </div>
                    <br>
                    <div class="text-body">
                      <p>{{tweets[8].text}}</p>
                      <p class="grey">{{tweets[8].created_at}}</p>
                    </div>
                    <div class="retweet">
                      <p>
                        <img src="./assets/images/reply.png" alt="" />

                        <img src="./assets/images/tweet.png" alt="" />
                        {{tweets[8].retweet_count}}

                        <img src="./assets/images/heart.png" alt="" />
                      </p>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control"></a>
        <a data-slide="next" href="#media" class="right carousel-control"></a>
      </div>
    </div>

</div>

</div>
