/*For clickable options*/
.custom-nav{
  margin: 0;
  border: none;
}

/*for unclicked tab*/
.custom-tab{
  padding: 0;
  background-color: #8a8a8a;
}

/*for active tab*/
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
  background-color: #ff5f3f;
  color: #fff;
}

/*for the hover color*/
.nav>li>a:hover,
.nav>li>a:focus {
  background-color: #e6e6e6;
  color: #fff;
}

.custom-tab a{
  padding: 0;
  border: none !important;
  margin: 0;
  height: 100px;
  color: #fff;
}

.custom-tab.active:after{
  top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(185, 9, 8, 0);
	border-top-color: #ff5f3f;
	border-width: 30px;
	margin-left: -30px;
}

.tab-content {
  padding-top: 50px;
  padding-bottom: 50px;
}

/*For Panel Links */

.panel-default{
    text-align:center;
    cursor:pointer;
    font-family: 'Raleway',sans-serif;
}

.panel-default:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}

.panel-default:hover {
  border: #ff8572 5px solid;
}


.links {
  color: #ffffff;
}

.panel-default {
  background-color: #4b4b4b;
}

h1, h2 {
  text-align: center;
  font-family: 'Raleway',sans-serif
}

.help-header {
  font-size: 70px;
}

.container {
  padding-bottom: 50px;
}

h4 {
  font-size: 25px;
}
