/* You can add global styles to this file, and also import other style files */

html body {
  font-family: 'Lora', serif;
}

.video-section {
  text-align: center;
}

.volunteer-container {
  margin-left: 70px;
}

.volunteer-groups {
  position: absolute;
  bottom: 0;
  width: 90%;
  background-color: white;
}

.volunteer-boxes {

  margin: 30px;
  height: 200px;

}

.volunteer-boxes {
  text-align: center;
}

.volunteer-images {
  opacity: 0.7 !important;
}
