/* You can add global styles to this file, and also import other style files */

html body {
  font-family: 'Lora', serif;
}

.video-section {
  text-align: center;
}

.volunteer-detail-container {
  margin-top: 20px;
}

.volunteer-detail-title h1 {
  text-align: center;
}

.volunteer-detail-image {
  margin-left: 10%;
}

.volunteer-detail p {
  font-size: 18px;
}

.volunteer-detail-paragraphs {
  border-right: 1px solid black;
  padding: 20px 50px;
}

.volunteer-detail-category {
  padding: 10px;
  margin-left: 20px;
}

.resource {
  padding-top: 5px;
}


.container {
    position: relative;
    width: 50%;
}

.volunteer-images {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.organizational-contact-container {
  color: white;
  margin-top: 150px;
  padding: 40px 0px 60px 0px;
  background-color: #545454;
}

.organization-detail-container {
  margin-top: 50px;
}

.organizational-detail-header {
  font-size: 50px;
}

.organizational-detail {
  font-size: 20px;
}

.organization-contacts {
  font-size: 35px;
}

.organization-bottom-full {
  padding: 60px 10px;
  background-color: #545454;
}

.organization-category-list {
  padding: 20px;
}

.organization-category-column {
  margin-left: 30px;
  color: white;
}

.organization-category-column h4 {
  color: #ff6d56;
}

.organization-categories {
  font-size: 25px;
}

.organization-upper-container {
  margin: 60px;
}

.organization-upper-container h2 {
  margin-bottom: 20px;
}

.organization-title h1 {
  font-size: 90px;
  margin-bottom: 70px;
}

options {
  color: black;
}
