/* You can add global styles to this file, and also import other style files */

html body {
  font-family: 'Lora', serif;
}

.video-section {
  text-align: center;
}

.volunteer-container {
  margin-left: 70px;
}

.volunteer-groups {
  position: absolute;
  bottom: 0;
  width: 89%;
  color: white;
  background-color: #ff8572;
}

.volunteer-boxes {

  margin: 30px;
  height: 200px;

}

.volunteer-boxes {
  text-align: center;
}

.volunteer-images {
  opacity: 0.7 !important;
}

.volunteer-detail-container {
  margin-top: 20px;
}

.volunteer-detail-title h1 {
  text-align: center;
}

.volunteer-detail-image {
  margin-left: 10%;
}

.volunteer-detail p {
  font-size: 18px;
}

.volunteer-detail-paragraphs {
  border-right: 1px solid black;
  padding: 20px 50px;
}

.volunteer-detail-category {
  padding: 10px;
  margin-left: 20px;
}

.resource {
  padding-top: 5px;
}
