<div class="heading">
  <img class="mainpic" src="/assets/images/hospital.jpg" alt="Wounded Syrian Girl">
  <h1 class="title">Health</h1>
</div>

<div class="quotebox container">
  <h4 class="quote">“We are exhausted, and there are not many of us left, but we continue our 20-hour shifts. What is most heartbreaking is when we have to choose which patients to save because there aren’t enough doctors to treat everyone. Our hospitals, though they are the targets of bombs, still overflow with the sick and injured.”</h4>
  <p> – Dr. Abo El Ezz, SAMS Aleppo Coordinator</p>
</div>

<div class="row">

<div class="section1">

<div class="circle col-md-2">
  <h2 class="current-title">Current<br>Situation</h2>
</div>
<div class="col-md-9 current-situation">
  <h5>"Each year, millions of people, particularly women and children, die from preventable causes in countries affected by violent conflict and natural disasters. Most of these deaths are the result of disruptions related to crisis: poor sanitation, shortages of food and medicine, and inadequate prevention. Refugees resettled in the United States also can face difficulties accessing proper health care." -International Rescue Committee
  <br>
  “Aleppo, a city that once used to be vibrant with its rich history and culture, has become a ghost city. What we are witnessing is the complete demolition of the basic necessities of life,” -SAMS’s Abu Rajab,  Cardiologist, Aleppo</h5>

  <hr>

  <h3>Malnutrition</h3>
    <p>Malnutrtion is a major issue among Syrian refugees. They are living in poverty whether they are displaced in their country or in an asylum country. With poverty comes lack of food and water. If children are malnutrioned for too long their bodies will fail them.</p>
    <br>
    <p>Syrians fled their homes in order to avoid the poverty and fighting that they had been facing, but since the countries they fled to are not equipped to deal with such a large refugee population, many Syrians end up suffering even after they escape the war zone.</p>
    <p>Syrian refugees have limited access to food, clean water and healthcare causing an increase in diseases, malnutrition and other health issues.</p>
    <p>Most of the babies born to women refugees are under six pounds and there is a lack of breastmilk production because the mothers are malnutritioned.</p>
</div>
</div>

</div>
<hr>
<div class="circle2">
  <h2 class="resources">Resources</h2>
</div>

<div class="video">
  <iframe class="video pull-left" width="560" height="315" src="https://www.youtube.com/embed/pZUgQvI0HHw?list=PLypiJrod4DeiTGk3xfmD-XkkX6dO9W-fj" frameborder="0" allowfullscreen></iframe>
</div>
<div class="section2">
  <h5>Many refugees are able to receive a short-term health insurance plan which lasts only 8 months. This is called Refugee Medial Assistance (RMA). With RMA, the refugee gets the same benefits package as a Medicaid recipient in that state. When the RMA expires (after 8 months), these refugees are treated the same as other low-income persons in their state in terms of their eligibility for medical insurance assistance. https://www.acf.hhs.gov/orr/programs/refugee-health</h5>

  <p>https://www.healthcare.gov/immigrants/immigration-status/</p>

  <p>http://refugeehealthta.org/access-to-care/</p>


  <p>"Refugees are eligible for Medicaid under the Affordable Care Act, but they still face plenty of obstacles to receiving proper care. In cities across the U.S., refugee agencies work locally to remove some of these barriers to health care. Former refugees help newly-arrived ones to get their feet on the ground, but they also hope to go beyond the basics, offering specialized mental health services and programs for survivors of torture to heal the wounds of war." - Medical Daily</p>

<h3>Interpreter Services</h3>
  It is essential that health care and related services are provided in a language and manner that the refugee can understand. Federal laws, such as Title VI of the 1964 Civil Rights Act, require federal agencies to implement systems to help those with limited English proficiency. In addition, some states have passed laws requiring competent medical interpreters in all hospital and mental health emergency rooms.

<h3>Women's Health</h3>

<p>Refugee women represent a vulnerable group who have been involuntarily displaced, are survivors of human rights abuses, and need special attention and care.</p>

<h5>Women's Refugee Commission</h5>

<h5>http://www.unfpa.org/news/women%E2%80%99s-needs-staggering-winter-grips-aleppo-un-convoy-finds</h5>
<p>https://www.womensrefugeecommission.org/</p>
<p>"Our vision is a world in which refugee and internally displaced women, children and youth:
are safe, healthy and self-reliant;
have their human rights respected and protected;
and inform and drive their own solutions and development."</p>
<p>The Women’s Refugee Commission leads the international community’s
work to protect and empower refugee women and girls. We ensure their
right to sexual and reproductive health care, to safety from gender-based
violence and to economic and social empowerment.</p>
<p>UNFPA is the largest international provider of contraception, family planning, and other reproductive health services</p>

<h5>https://www.launchgood.com/project/womens_health_workshops_for_syrian_refugees#/</h5>
<p>We are a group of  students who attend medical school at Michigan State and we are passionate about helping to alleviate some of the challenges that have arisen from the humanitarian crisis caused by the Syrian Civil War.<br>

Our mission is simple: Provide health education to Syrian refugee women, designed to  empower the women to become self-sufficient, health-care advocates in their new homes.</p>


<h3>Mental Health</h3>
  <p>Mental health is a big priority when it comes to refugees seeking helath care. They have been a part of a conflict that has affected, and may continue to affect, their everyday well being. A large majority of Syrian refugees are children. Post traumatic stress disorder is the most common health issue facing children. Many children are severely traumatized with symptoms of depression, withdrawl, regression, chronic anxiety, panic attacks, nightmares, and obsessive, compulsive, and reactive behaviors. In order to prevent further trauma mental healthcare is neccessary.</p>
  <p>Children and adolescents often have higher levels with various investigations revealing rates of PTSD from 50-90% and major depression from 6-40%. Risk factors for the development of mental health problems include the number of traumas, delayed asylum application process, detention, and the loss of culture and support systems.</p>
</div>



<p>

  https://www.acf.hhs.gov/orr/resource/orr-funded-programs-key-contacts
</p>
