

<h2>Healthcare in Syria and Asylum Countries</h2>
<h5><em>“We are exhausted, and there are not many of us left, but we continue our 20-hour shifts. What is most heartbreaking is when we have to choose which patients to save because there aren’t enough doctors to treat everyone. Our hospitals, though they are the targets of bombs, still overflow with the sick and injured.” – Dr. Abo El Ezz, SAMS Aleppo Coordinator</em></h5>
<h5>"Each year, millions of people, particularly women and children, die from preventable causes in countries affected by violent conflict and natural disasters. Most of these deaths are the result of disruptions related to crisis: poor sanitation, shortages of food and medicine, and inadequate prevention. Refugees resettled in the United States also can face difficulties accessing proper health care." -International Rescue Committee</h5>

<hr>

<h2>Transitioning to US Healthcare</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/pZUgQvI0HHw?list=PLypiJrod4DeiTGk3xfmD-XkkX6dO9W-fj" frameborder="0" allowfullscreen></iframe>

<p>"Refugees are eligible for Medicaid under the Affordable Care Act, but they still face plenty of obstacles to receiving proper care. In cities across the U.S., refugee agencies work locally to remove some of these barriers to health care. Former refugees help newly-arrived ones to get their feet on the ground, but they also hope to go beyond the basics, offering specialized mental health services and programs for survivors of torture to heal the wounds of war." - Medical Daily</p>

<h3>Women's Health</h3>
<h3>Mental Health</h3>
  <p>Mental health is a big priority when it comes to refugees seeking helath care. They have been a part of a conflict that has affected, and may continue to affect, their everyday well being. A large majority of Syrian refugees are children. Post traumatic stress disorder is the most common health issue facing children. Many children are severely traumatized with symptoms of depression, withdrawl, regression, chronic anxiety, panic attacks, nightmares, and obsessive, compulsive, and reactive behaviors. In order to prevent further trauma mental healthcare is neccessary.</p>

<h3>Malnutrition</h3>
