<div class="heading">
  <img class="mainpic" src="/assets/images/moving.jpg" alt="Wounded Syrian Girl">
  <h1 class="title">Economics</h1>
</div>

<div class="container">
  <div class="quotebox container">
    <h4 class="quote">"Our vision is a world in which refugee and internally displaced women, children and youth: are safe, healthy and self-reliant; have their human rights respected and protected;
    and inform and drive their own solutions and development."</h4>
    <p> – Women's Refugee Commission</p>
  </div>

  <div class="row">

    <div class="section1">
      <div class="circle col-md-3">
        <h2 class="current-title">Current<br>Situation</h2>
      </div>
      <div class="col-md-9 current-situation">
        <h3>The 1951 United Nations Convention relating to the Status of Refugees, as amended by its 1967 protocol defines a refugee as a person who "owing to a well-founded fear of being persecuted for reasons of race, religion, nationality, membership of a particular social group, or political opinion, is outside the country of his nationality, and is unable to or, owing to such fear, is unwilling to avail himself of the protection of that country..."
          <hr>
        </h3>
      </div>
    </div>

  </div>
  <hr>
  <!-- <div class="government">
  <h2>Government</h2>

  <h3>The State Department receives $340 million from Congress for resettlement programs and $1.7 billion for humanitarian assistance overseas.</h3>

  <h4>The federal government provides transitional resettlement assistance to newly arrived refugees. In the first 90 days, agencies contract with the Department of State to provide for refugee's food, housing, employment, medical care, counseling and other services to help the refugee make a rapid transition to economic self-sufficiency.</h4>

      </div>
    <hr> -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">

        <div class="item active">
          <img src="/assets/images/metalworker.jpg">
          <div class="carousel-caption">
            <h4>The Economics</h4>
            <p>Refugees fleeing the Syrian civil war, like the metalworker pictured here, who now resides in Turkey, have not negatively affected the economies of their host countries. Even in countries facing huge influxes of refugees, the impact on the economy as a whole is usually not very large. The biggest challenges in accommodating refugees are social and political, rather than economic.</p>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="/assets/images/food.jpg">
          <div class="carousel-caption">
            <h4>Kids Against Hunger</h4>
            <p>The grunt work is over. Thanks to more than 1,500 volunteers Syrian refugees in Jordan received more than 240,000 meals packaged. Kids Against Hunger’s meals have been formulated by food scientists to provide malnourished children with rich sources of easily digestible protein, carbohydrates and vitamins.</p>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="/assets/images/lawyers2.jpg">
          <div class="carousel-caption">
            <h4>Lawyers for Refugees</h4>
            <p>“A U.S. initiative to resettle Syrian refugees in the United States affirmatively advances U.S. national security interests. Increased resettlement and aid helps protect the stability of a region that is home to U.S. allies.” - Ryan Crocker, former Ambassador to Syria, Lebanon, Iraq, Afghanistan, Pakistan, and Kuwait</p>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="/assets/images/twomen.jpg">
          <div class="carousel-caption">
            <h4>Life In Syria</h4>
            <p>Two Syrian Men sit outside a closed shop in the heavily damaged Bustan al Pasha district of Aleppo. Many residents of this neighborhood have been forced to leave due to heavy fighting.</p>
          </div>
        </div><!-- End Item -->

        <div class="item">
          <img src="/assets/images/familymove.jpg">
          <div class="carousel-caption">
            <h4>Resettlement</h4>
            <p>“Accommodating sixty-five thousand refugees in our country . . . of three hundred and twenty million is akin to making room for six and a half more people in a baseball stadium with thirty-two thousand.” - Martin O’Malley</p>
          </div>
        </div><!-- End Item -->

      </div><!-- End Carousel Inner -->

      <ul class="list-group col-sm-4">
        <li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"><h4>The Economics</h4></li>
        <li data-target="#myCarousel" data-slide-to="1" class="list-group-item"><h4>Volunteer's Impact</h4></li>
        <li data-target="#myCarousel" data-slide-to="2" class="list-group-item"><h4>Lawyer's for Refugee's</h4></li>
        <li data-target="#myCarousel" data-slide-to="3" class="list-group-item"><h4>Life in Syria</h4></li>
        <li data-target="#myCarousel" data-slide-to="4" class="list-group-item"><h4>Resettlement</h4></li>
      </ul>

      <!-- Controls -->
      <div class="carousel-controls">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>

    </div><!-- End Carousel -->

    <hr>

    <!-- <div> -->


      <!-- <div class="resettlement">
        <div class="agency">
          <h5>Church World Service</h5>
          <a href="www.churchworldservice.org">Link</a>
        </div>
        <div class="agency">
          <h5>Ethiopian Community Development Council</h5>
          <a href="www.ecdcinternational.org">Link</a>
        </div>
        <div class="agency">
          <h5>Episcopal Migration Ministries</h5>
          <a href="www.espiscopalchurch.org/emm">Link</a>
        </div>
        <div class="agency">
          <h5>Hebrew Immigrant Aid Society</h5>
          <a href="www.hias.org">Link</a>
        </div>
        <div class="agency">
          <h5>International Rescue Committee</h5>
          <a href="www.theirc.org">Link</a>
        </div>
        <div class="agency">
          <h5>Lutheran Immigration and Refugee Service</h5>
          <a href="www.theirc.org">Link</a>
        </div>
        <div class="agency">
          <h5>U.S. Committee for Refugees and Immigrants</h5>
          <a href="www.refugees.org">Link</a>
        </div>
        <div class="agency">
          <h5>United States Conference of Catholic Bishops/Migration and Refugee Services</h5>
          <a href="www.usccb.org">Link</a>
        </div>
        <div class="agency">
          <h5>World Relief</h5>
          <a href="www.wr.org">Link</a>
        </div>
      </div> -->

      <div class="resources-section row">
        <div class="resource1 col-md-4">
          <div class="card">
            <a href="https://www.acf.hhs.gov/orr"><img class="card-img-top" src="/assets/images/resettlement.jpg" alt="Card image cap"></a>
            <div class="card-block">
              <hr>
              <h4 class="card-title">Office of Refugee Resettlement</h4>
              <p class="card-text">Employability services are designed to enable refugees to obtain jobs within one year of becoming enrolled in the program. The Refugee Social Services Program supports employability services and other services that address barriers to employment such as:<p>
                <li>Social adjustment</li>
                <li>Interpretation and translation</li>
                <li>Day care for children</li>
                <li>Citizenship and naturalization</li></p>
                <a href="https://www.acf.hhs.gov/orr" class="btn btn-default">Visit Webpage</a>
              </div>
            </div>
          </div>
          <div class="resource2 col-md-4">
            <div class="card">
              <a href="https://www.state.gov/j/prm/about/index.htm"><img class="card-img-top" src="/assets/images/group.jpg" alt="Card image cap"></a>
              <div class="card-block">
                <hr>
                <h4 class="card-title">Bureau of Population, Refugees, and Migration</h4>
                <p class="card-text">The mission of the Bureau of Population, Refugees, and Migration (PRM) is to provide protection, ease suffering, and resolve the plight of persecuted and uprooted people around the world on behalf of the American people by providing life-sustaining assistance.</p>
                <a href="https://www.state.gov/j/prm/about/index.htm" class="btn btn-default">Visit Webpage</a>
              </div>
            </div>
          </div>
          <div class="resource3 col-md-4">
            <div class="card">
              <a href="https://www.ilrc.org/mission"><img class="card-img-top" src="/assets/images/lawyers.jpg" alt="Card image cap"></a>
              <div class="card-block">
                <hr>
                <h4 class="card-title">Immigrant Legal Resource Center</h4>
                <p class="card-text">The mission of the Immigrant Legal Resource Center (ILRC) is to work with and educate immigrants, community organizations, and the legal sector to continue to build a democratic society that values diversity and the rights of all people.</p>
                <a href="https://www.ilrc.org/mission" class="btn btn-default">Visit Webpage</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <br>
      </div>
<hr>
