<h2>How it Works</h2>
<p>
  The 1951 United Nations Convention relating to the Status of Refugees, as amended by its 1967 protocol defines a refugee as a person who "owing to a well-founded fear of being persecuted for reasons of race, religion, nationality, membership of a particular social group, or political opinion, is outside the country of his nationality, and is unable to or, owing to such fear, is unwilling to avail himself of the protection of that country..."
</p>

<h2>Government</h2>

 The State Department receives $340 million from Congress for resettlement programs and $1.7 billion for humanitarian assistance overseas

 <p>
   the federal government provides transitional resettlement assistance to newly arrived refugees. In the first 90 days, agencies contract with the Department of State to provide for refugee's food, housing, employment, medical care, counseling and other services to help the refugee make a rapid transition to economic self-sufficiency.
 </p>


 <div>
   <div class="section1">
     <h2>Bureau of Population, Refugees, and Migration</h2>
     <p>https://www.state.gov/j/prm/about/index.htm</p>
     <p>
       The mission of the Bureau of Population, Refugees, and Migration (PRM) is to provide protection, ease suffering, and resolve the plight of persecuted and uprooted people around the world on behalf of the American people by providing life-sustaining assistance, working through multilateral systems to build global partnerships, promoting best practices in humanitarian response, and ensuring that humanitarian principles are thoroughly integrated into U.S. foreign and national security policy.
     </p>
     <p> Helps provide shelter and education, food and water, protection of rights, and resettlement
     </p>
   </div>
   <div class="section2">
     <h2>Office of Refugee Resettlement</h2>
     <p>https://www.acf.hhs.gov/orr</p>
     <p>The Refugee Social Services Program supports employability services and other services that address barriers to employment such as:<p>
       <li>Social adjustment</li>
      <li>Interpretation and translation</li>
      <li>Day care for children</li>
      <li>Citizenship and naturalization</li>
    <p>Employability services are designed to enable refugees to obtain jobs within one year of becoming enrolled in the program. Refugees in the following categories receive service priority:</p>
      <li>New arrivals in their first year in the U.S.</li>
      <li>Those receiving cash assistance</li>
      <li>Unemployed refugees not receiving cash assistance</li>
      <li>Employed refugees in need of services to retain employment or to attain economic independence</li>
     <p> Helps provide shelter and education, food and water, protection of rights, and resettlement
     </p>
   </div>
   <div class="section3">
     <h2>Immigrant Legal Resource Center</h2>
     <p>https://www.ilrc.org/mission</p>
     <p>The mission of the Immigrant Legal Resource Center (ILRC) is to work with and educate immigrants, community organizations, and the legal sector to continue to build a democratic society that values diversity and the rights of all people. </p>
   </div>
 </div>

 <div class="resettlement">
  <div class="agency">
    <h5>Church World Service</h5>
    <a href="www.churchworldservice.org">Link</a>
  </div>
  <div class="agency">
    <h5>Ethiopian Community Development Council</h5>
    <a href="www.ecdcinternational.org">Link</a>
  </div>
  <div class="agency">
    <h5>Episcopal Migration Ministries</h5>
    <a href="www.espiscopalchurch.org/emm">Link</a>
  </div>
  <div class="agency">
    <h5>Hebrew Immigrant Aid Society</h5>
    <a href="www.hias.org">Link</a>
  </div>
  <div class="agency">
    <h5>International Rescue Committee</h5>
    <a href="www.theirc.org">Link</a>
  </div>
  <div class="agency">
    <h5>Lutheran Immigration and Refugee Service</h5>
    <a href="www.theirc.org">Link</a>
  </div>
  <div class="agency">
    <h5>U.S. Committee for Refugees and Immigrants</h5>
    <a href="www.refugees.org">Link</a>
  </div>
  <div class="agency">
    <h5>United States Conference of Catholic Bishops/Migration and Refugee Services</h5>
    <a href="www.usccb.org">Link</a>
  </div>
  <div class="agency">
    <h5>World Relief</h5>
    <a href="www.wr.org">Link</a>
  </div>
 </div>
